{{ project_name }}:
  target: dev
  outputs:
    dev:
      type: redshift
      host: "{{ '{{' }} env_var('DBT_HOST') {{ '}}' }}"
      port: 5439
      user: "{{ '{{' }} env_var('DBT_USER') {{ '}}' }}"
      password: "{{ '{{' }} env_var('DBT_PASSWORD') {{ '}}' }}"
      dbname: analytics
      schema: {{ project_name }}_dev
      threads: 4
      connect_timeout: 30
      sslmode: prefer
    prod:
      type: redshift
      host: "{{ '{{' }} env_var('DBT_HOST') {{ '}}' }}"
      port: 5439
      user: "{{ '{{' }} env_var('DBT_USER') {{ '}}' }}"
      password: "{{ '{{' }} env_var('DBT_PASSWORD') {{ '}}' }}"
      dbname: analytics
      schema: {{ project_name }}_prod
      threads: 8
      connect_timeout: 30
      sslmode: prefer
