with source as (
    select * from {{ '{{' }} ref('int_{{ mart }}__orders_enriched') {{ '}}' }}
),

final as (
    select
        order_id,
        customer_id,
        status,
        amount_usd,
        created_at
    from source
)

select * from final
